.container {
  max-width: 1440px;
  margin: auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: flex-start;
  margin: 90px 53px;
  margin-bottom: 98px;
}

.header__logo {
  display: flex;
  justify-content: center;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__menu {
  margin-top: 44px;
}

.header__links-list {
  display: flex;
  justify-content: flex-start;
  gap: 32px;
  float: left;
  list-style: circle;
  margin-right: auto;
  margin-top: 2px;
}

.header__link {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  line-height: normal;
  text-decoration: none;
  border-bottom: 1px solid black;
}

.header__links-list-item-active {
  list-style-type: none;
}

.header__link-active {
  text-decoration: none;
  border: none;
}

.address {
  color: #000;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  justify-self: flex-end;
  max-width: 240px;
}

.address-header {
  margin-top: 7px;
}

.address_link {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-position: right center;
  background-repeat: no-repeat;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding-bottom: 51px;
}

.cover__title {
  position: relative;
  color: #fff;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  line-height: 1;
  letter-spacing: 0.3em;
  padding-top: 173px;
}

.aligned-text_left {
  display: block;
  line-height: 1;
  letter-spacing: 0.3em;
  padding-left: 47px;
}

.aligned-text_center {
  display: block;
  line-height: 1;
  letter-spacing: 0.3em;
  text-align: center;
  padding-top: 27px;
}

.aligned-text_right {
  display: block;
  line-height: 1;
  text-align: right;
  letter-spacing: 0.3em;
  padding-top: 21px;
}

.aligned-text_right > span {
  padding-left: 30px;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.cover__description {
  display: flex;
  justify-content: flex-end;
  z-index: 1;
  text-transform: uppercase;
  padding-top: 133px;
  margin: 0px 30px 0px 30px;
}

.cover__description-text {
  color: #fff;
  text-align: center;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 17px;
  padding-top: 15px;
  margin-left: 50px;
}

.bet-button {
  width: 257px;
  height: 52px;
  color: #fff;
  text-align: center;
  font-size: 22px;
  line-height: normal;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid #fff;
  margin-left: 80px;
}

.lots {
  margin: 180px 50px;
  height: 100%;
  position: relative;
}

.lots__heading {
  margin-left: 38px;
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.lots__container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 27px;
  gap: 25px;
  list-style: none;
  flex-grow: 1;
  margin-bottom: 30px;
}

.card-link {
  text-decoration: none;
}

.card {
  position: relative;
  width: 430px;
  min-height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-position: left;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-position: center;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-position: right;
}

.lots__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 50px 40px 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__title {
  display: block;
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  text-decoration-line: underline;
  text-transform: uppercase;
  width: 350px;
}

.card__text {
  width: 350px;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.lots__look-more-link {
  display: inline;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  margin-left: 40px;
  text-decoration: none;
  border-bottom: 2px solid #000;
}

.about {
  display: flex;
}

.about__column {
  justify-content: center;
  padding: 0px 145px;
  width: 487px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__logo {
  display: flex;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.about__column_text {
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
  flex-shrink: 0;
}

.about__title {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 100px;
}

.about__text-second {
  margin-top: 27px;
}

.about__text {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  max-width: 885px;
}

.footer {
  display: flex;
  margin: 180px 50px 87px 50px;
  justify-content: space-between;
}

.footer__menu-list {
  display: block;
  list-style-type: none;
  text-align: center;
}

.footer__menu-list-item-active {
  text-decoration: none;
  font-size: 18px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__link-active {
  text-decoration: none;
}

.footer__menu-link {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__social-list {
  display: flex;
  list-style: none;
  gap: 49px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}